*{
  box-sizing: border-box;
  font-weight: 300;
}
#root {
  width: 100%;
  height: 100vh;
  position: relative;
}
#nprogress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
}
#nprogress .bar {
  background: rgb(51, 105, 253);
  height: 5px;
}
.b-align-center {
  text-align: center;
}

/* animate css */
.fade-exit {
  opacity: 1;
  transform: translateX(0px);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-50px);
}
.fade-enter {
  opacity: 0;
  transform: translateX(50px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
}

.fade-enter-active,
.fade-exit-active {
  transition: all 300ms;
}
.linkSpan{
  color: #3c8dbc;
  cursor: pointer;
}

